//SP
.container {
  font-family: heisei-maru-gothic-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  // grid-template-rows: 79px 160px 776.5px 129px 208px;
  a {
    text-decoration: none;
    color: inherit;
  }
  a:visited {
    color: inherit;
  }
  header {
    display: flex;
    justify-content: space-between;
    h1 {
      margin: 12% 0% 4% 4%;
      color: #81A238;
      font-size: 20px;
      font-weight: 800;
    }
    .menu {
      list-style: none;
      display: flex;
      width: 28%;
      justify-content: space-between;
      margin-right: 4.8%;
      color: #707070;
      li {
        margin-top: 50%;
        font-size: 10px;
      }
    }
  }
  .topImg {
    img {
      width: 100%;
      height: auto;
    }
  }
  main {
    grid-row: 3;
    .main_title {
      margin: 5.33%;
      color: #6C4747;
      font-size: 22px;
      font-weight: 800;
    }
    .birdImg {
      .mainImg {
        img {
          width: 100%;
        }
      }
      .subImg {
        display: flex;
        justify-content: space-between;
        img {
          width: 32.27%;
          height: auto;
        }
      }
    }
    article {
      color: #676262;
      font-size: 12px;
      line-height: 1.25;
      margin: 8%;
      .info {
        border: 1px solid #707070;
        border-radius: 13px;
        padding: 3.2%;
      }
      .discription {
        margin-top: 4.8%;
      }
      .button_back {
        margin-top: 2.93%;
        width: 21.87%;
        height: 6.4%;
        border: 1px solid #707070;
        border-radius: 13px;
        text-align: center;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .back {
          line-height: 1.85;
        }
      }
    }
  }
  .sns {
    margin-bottom: 8%;
    .sns_logo {
      width: 66.93%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      border-top: 1px solid #707070;
      padding-top: 3.07%;
      img {
        width: 17.52%;
        height: auto;
      }
    }
  }
  footer {
    .footer_title {
      height: 16%;
      padding-left: 9.06%;
      background-color: #B4AEAE;
      font-size: 15px;
      line-height: 2.53em;
      color: white;
    }
    .footerContents {
      margin: 4.26% 0 0 12.27%;
      .footer_content {
        font-size: 13px;
        line-height: 29px;
        color: #3C3939;
      }
    }
  }
}

// tab
@media screen and (min-width:376px) {
  
}
// .container {
//   font-family: heisei-maru-gothic-std, sans-serif;
//   font-weight: 400;
//   font-style: normal;
//   display: grid;
//   width: 100%;
//   grid-template-columns: 100%;
//   // grid-template-rows: 50px 356px auto 65px 160px;
//   gap: 3.59% 0;
//   header {
//     display: flex;
//     justify-content: space-between;
//     h1 {
//       margin: 2.39%;
//       color: #81A238;
//       font-size: 30px;
//       font-weight: 800;
//     }
//     .menu {
//       list-style: none;
//       display: flex;
//       width: 21.58%;
//       justify-content: space-between;
//       margin-right: 1.79%;
//       color: #707070;
//       li {
//         margin-top: 30px;
//       }
//     }
//   }
//   .topImg {
//     img {
//       width: 100%;
//       height:auto;
//     }
//   }
//   main {
//     display: grid;
//     grid-template-columns: 4.79% 1fr 4.79% 1fr 4.79%;
//     // grid-template-rows: 24px 30px 412px;
//     .title {
//       grid-column: 2 / 5;
//       font-weight: 800;
//       font-size: 24px;
//       color: #767373;
//     }
//     .birdImg {
//       grid-column: 2;
//       grid-row: 3;
//       img {
//         width: 100%;
//         height: auto;
//       }
//       .subImg {
//         display: flex;
//         justify-content: space-between;
//         img {
//           width: 33%;
//           height: auto;
//         }
//       }
//     }
//     article {
//       grid-column: 4;
//       grid-row: 3;
//       color: #676262;
//       font-size: 16px;
//       line-height: 1.5;
//       .info {
//         border: 1px solid #707070;
//         border-radius: 10px;
//         padding: 10px;
//         margin-bottom: 30px;
//       }
//       .button_back {
//         width: 9.83%;
//         border: 1px solid #707070;
//         border-radius: 13px;
//         text-align: center;
//         margin-left: auto;
//         margin-top: 10px;
//         padding: 0 20px;
//       }
//     }
//   }
//   .sns {
//     .sns_logo {
//       width: 33.81%;
//       display: flex;
//       justify-content: space-between;
//       margin: 0 auto;
//       border-top: 1px solid #707070;
//       padding-top: 16px;
//     }
//   }
//   footer {
//     margin-top: 40px;
//     padding-bottom: 40px;
//     background-color: #aaa;
//     .title {
//       color: #fff;
//       margin: 10px 0 20px 40px;
//     }
//    .footerContents {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: 1fr 1fr;
//     .content {
//       margin-left: 4.79%;
//       color: #fff;
//       line-height: 1.5;
//     }
//    } 
//   }
// }